<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - Knowledge">Knowledge</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/blog-style.css}">
    <link rel="stylesheet" th:href="@{/css/spinner.css}">
    <link rel="stylesheet" th:href="@{/css/toast.css}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body th:data-msg="${returnMsg}">
<header class="header">
    <nav>
        <ul class="nav">
            <!-- 추후 스타일 및 UI 재조정 예정 -->
            <li><a href="/posts">Blog-list</a></li>
        </ul>
    </nav>
    <a href="/login">
        <button class="logout-btn" type="button">Login</button>
    </a>
</header>

<main class="container" layout:fragment="body">
    <!-- 본문 내용이 여기에 삽입됨 -->
</main>
<script type="module" th:inline="javascript">
    import { showLoading, hideLoading } from /*[[@{/js/loading.js}]]*/ '';
    import { showSuccessToast, showErrorToast } from /*[[@{/js/toast.js}]]*/ '';

    document.addEventListener("DOMContentLoaded", () => {
        // 폼 전송 로딩
        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', () => {
            showLoading();
            });
        });

        // 링크 이동 로딩
        document.querySelectorAll('a').forEach(link => {
            const href = link.getAttribute('href');
            if (
                href &&
                !href.startsWith('#') &&
                !href.startsWith('javascript:') &&
                !link.hasAttribute('download') &&
                link.target !== '_blank'
            ) {
                link.addEventListener('click', () => {
                showLoading();
                });
            }
        });
    });

    //로그인 한 사용자가 로그아웃할때 목록으로 이동 그리고 '로그아웃에 성공하였습니다' 메시지 토스트
    const msg = document.body.dataset.msg;
    if(msg) showSuccessToast(msg)


</script>
<!-- 개별 페이지 전용 script 삽입용 -->
<div layout:fragment="page-script"></div>
</body>
</html>
