<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - Knowledge">Knowledge</title>
    <link rel="stylesheet" th:href="@{/css/spinner.css}">
    <link rel="stylesheet" th:href="@{/css/toast.css}">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Toast UI Editor CDN -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="bg-gray-100 text-gray-900" th:data-msg="${returnMsg}">
<header class="bg-white shadow">
    <div class="max-w-screen-xl mx-auto flex items-center justify-between px-4 py-3">

        <!-- 좌측: 로고 + 사이트명 -->
        <div class="flex items-center space-x-2">
            <a href="/" class="text-xl font-bold text-gray-800 hover:text-blue-600">MKHub(<span th:text="${#authentication.name}">사용자</span>)</a>
        </div>

        <div class="flex items-center space-x-2">
            <nav className="flex flex-wrap gap-2 justify-center">
                <ul class="space-y-4">
                    <li class="px-3 py-1 border border-gray-500 text-gray-500 rounded hover:bg-blue-50 text-sm"><a href="/posts">Blog-list</a></li>
                </ul>
            </nav>
        </div>

        <!-- menu list test -->
        <div class="flex items-center space-x-2">
            <ul class="space-y-4">
                <li class="px-3 py-1 border border-gray-500 text-gray-500 rounded hover:bg-blue-50 text-sm"  th:each="menu : ${menus}">
                    <span th:if="${menu.url == null}" th:text="${menu.name}"></span>
                    <a th:if="${menu.url != null}" th:href="${menu.url}" th:text="${menu.name}"></a>

                    <ul class="space-y-4" th:if="${#lists.size(menu.children) > 0}">
                        <li class="px-3 py-1 border border-gray-500 text-gray-500 rounded hover:bg-blue-50 text-sm" th:each="child : ${menu.children}">
                            <a th:href="${child.url}" th:text="${child.name}"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- 가운데: 검색창 -->
        <form th:action="@{/search}" method="get" class="flex items-center w-full max-w-md mx-4">
            <input
                    type="text"
                    name="keyword"
                    class="flex-grow px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-gray-600"
                    placeholder="Search..."
                    th:value="${param.keyword}"
            />
            <button type="submit" class="h-full px-4 py-2 bg-gray-300 text-white rounded-r-md hover:bg-gray-500 flex items-center justify-center">
                🔍
            </button>
        </form>

        <!-- 우측: 로그인/회원가입 -->
        <div class="flex items-center space-x-3">
            <a href="/logout" class="text-gray-600 hover:text-blue-500 text-sm">Logout</a>
        </div>
    </div>
</header>

<main class="container" layout:fragment="body">
    <!-- 본문 내용이 여기에 삽입됨 -->
</main>

<script type="module" th:inline="javascript">
    import { showLoading, hideLoading } from /*[[@{/js/loading.js}]]*/ '';
    import { showSuccessToast, showErrorToast } from /*[[@{/js/toast.js}]]*/ '';

    document.addEventListener("DOMContentLoaded", () => {
        // 폼 전송 로딩
        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', () => {
                showLoading();
            });
        });

        // 링크 이동 로딩
        document.querySelectorAll('a').forEach(link => {
        const href = link.getAttribute('href');
        if (
            href &&
            !href.startsWith('#') &&
            !href.startsWith('javascript:') &&
            !link.hasAttribute('download') &&
            link.target !== '_blank'
        ) {
            link.addEventListener('click', () => {
                showLoading();
            });
          }
        });
    });

    const msg = document.body.dataset.msg;
    if(msg) {
        if(msg === 'error') {
            showErrorToast('로그인에 실패하였습니다.')
        } else {
            showSuccessToast(msg)
        }
    }
</script>
<!-- 개별 페이지 전용 script 삽입용 -->
<div layout:fragment="page-script"></div>
</body>
</html>
