<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{${#authorization.expression('isAuthenticated()')} ?
                          'layouts/layout-main' :
                          'layouts/layout-public'}">
<body>
<main layout:fragment="body" class="px-4 sm:px-8 py-8 bg-gray-100 min-h-screen">

    <h2 class="text-2xl font-bold text-gray-800 mb-6">Knowledge Sharing - Posts</h2>

    <div class="mb-4 text-gray-600 text-sm">
        Total Posts:
        <span th:text="${result.totalElements}" class="font-medium text-black">0</span>
    </div>

    <!-- 게시글 목록 -->
    <div class="max-w-5xl mx-auto space-y-4 p-4">
        <div
            th:each="post : ${result.dtoList}"
            th:attr="data-id=${post.id}"
            class="post-card bg-white rounded-lg shadow-md p-4
                   hover:shadow-lg
                   hover:-translate-y-1 hover:scale-[1.01]
                   transform transition duration-300 cursor-pointer"
    >
            <h3
                th:text="${post.title}"
                class="text-base font-semibold text-gray-900 mb-2"
            >
            게시글 제목
            </h3>

            <p class="text-sm text-gray-500">
                <span th:text="${post.categoryName}">Category</span>
                <span class="mx-1">·</span>
                <span th:text="${#temporals.format(post.createdAt, 'yyyy년 MM월 dd일')}">2025년 07월 26일</span>
            </p>
        </div>
    </div>

        <!-- 페이지네이션 -->
        <div th:replace="~{fragments/pagination :: paging(${result}, ${currentPage}, ${''}, ${requestURI})}"></div>
    </div>


</main>

<div layout:fragment="page-script">
        <script>
            document.querySelectorAll(".post-card").forEach(card => {
                card.addEventListener("click", function () {
                    const id = this.dataset.id;
                    window.location.href = `/posts/${id}`;
                });
            });
        </script>
    </div>
</body>
</html>
