<!-- fragments/pagination.html -->
<div class="flex items-center justify-center mt-10 gap-2"
     th:fragment="paging(result, currentPage, queryString, requestURI)"
     th:with="qs=(${queryString} ?: ''), path=${requestURI}"
     th:if="${result != null and result.totalElements > 0}">

    <a class="px-3 py-2 rounded border bg-white text-gray-600 hover:shadow-lg
              hover:-translate-y-2 hover:scale-[1.01]
              transform transition duration-300 cursor-pointer"
       th:if="${result.prev}"
       th:href="${path + '?page=' + (result.startPage - 1) + '&size=' + result.size + qs}">«</a>

    <a class="px-3 py-2 rounded border bg-white text-gray-600 hover:shadow-lg
              hover:-translate-y-2 hover:scale-[1.01]
              transform transition duration-300 cursor-pointer"
       th:each="pageNum : ${#numbers.sequence(result.startPage, result.endPage)}"
       th:href="${path + '?page=' + pageNum + '&size=' + result.size + qs}"
       th:text="${pageNum}"
       th:classappend="${pageNum == currentPage}
        ? 'bg-gray-800 text-black font-bold shadow ring-2 ring-offset-2 ring-gray-500'
        : 'bg-white text-gray-800 hover:bg-gray-100'">
    </a>

    <a class="px-3 py-2 rounded border bg-white text-gray-600 hover:shadow-lg
              hover:-translate-y-2 hover:scale-[1.01]
              transform transition duration-300 cursor-pointer"
       th:if="${result.next}"
       th:href="${path + '?page=' + (result.endPage + 1) + '&size=' + result.size + qs}">»</a>
</div>